@import url('./reset/reset.css');
@import url('./fonts/fonts.css');

/*vars*/

:root {
    --main: 'Neue Machina';
    --additional: 'OCR A';
    --black: #000000;
    --white: #ffffff;

}

html, body {
    font-size: 10px
}


body {
    width: 100%;
    max-width: 1920px;
    height: 100vh;




    margin: 0 auto;


    font-family: var(--additional);
    font-weight: 700;

    background: transparent linear-gradient(122deg, #1b145d 0%, #540e57 100%) 0% 0% no-repeat padding-box;
    opacity: 1;


}

.container {
    margin: 0 40px;
}

/*main*/
.main.main--account {
    padding: 25px 0 92px 0;

    overflow: hidden;
}

/*btn*/

.btn--exit {
    font-family: var(--main);
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
    line-height: 2.7rem;
}

/*login*/

.login {
    height: 705px;
}

.login__header {
    margin-bottom: 14px;
}

.login__header--flex {
    display: flex;
    align-items: center;
}

.login__logo {
    width: 183px;

    margin-left: 50%;

    transform: translateX(-50%);
}



.login__body, .login__footer {
    max-width: 381px;
    margin: 0 auto;
}

.login__body {
    margin-bottom: 20px;
}



.login__footer--flex {
    display: flex;
    flex-direction: column;
    gap: 12px;

    text-align: center;
}

.login__block-link {
    display: block;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #F65AFF;
    cursor: pointer;
}

.login__block-link--grey {
    color: #8A8A8A;
    text-decoration: underline!important;
}

/*form*/

.form__group--login {
    max-width: 381px;
}

.form__group.form__group--login:not(:last-of-type) {
    margin-bottom: 20px;
}

.form__group--password {
    position: relative;
    z-index: 1;
}

.form__label {
    display: block;
    margin-bottom: 10px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--white);
    line-height: 2.4rem;
}

.form__input {
    width: 100%;
    max-width: 381px;
    padding: 22.5px;
    display: block;

    background-color: var(--white);
    border-radius: 21px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--white);
    line-height: 2.4rem;
    color: var(--black);
}

.form__input::placeholder {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--white);
    line-height: 2.4rem;
    color: #A7A7A7;
}

.form__show-pass {
    position: absolute;
    top: 48%;
    right: 20px;
    z-index: 2;
}

.form__button-submit {
    padding: 20px 40px;
}

.form__group--center {
    text-align: center;
}

/*btn*/

.btn.btn--exit {
    margin-left: auto;
    margin-right: 36px;
}

/*account__nav*/

.account {
    display: flex;
}

.account__sidebar {
    width: 100%;
    max-width: 240px;
}

.account__sidebar-logo.account__sidebar-logo--mobile {
    display: none;
    position: absolute;
}

.account__sidebar-wrapper {
    min-height: 570px;
    padding-right: 46px;

    border-right: 1px solid rgba(255, 255, 255, .1);
}

.account__content {
    width: 100%;
}

.account__content-head {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 60px;
}

.account__content-head-title {
    margin-left: 50%;

    font-family: var(--main);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
    color: var(--white);

    transform: translateX(-50%);
}


.account__nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 19.5px;
}

.account__nav-link {
    width: 100%;
    max-width: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.account__nav-link span {
    display: block;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--white);
    line-height: 2.4rem;

    transition: all .2s linear;
}

.account__nav-link:hover span {
    color: #F65AFF;

    transition: all .2s linear;


}

.account__nav-link svg path {
    transition: all .2s linear;
}

.account__nav-link:hover svg path {
    fill: #13E4FF;


    transition: all .2s linear;
}

.account__nav-link:hover svg g path {
    stroke: #13E4FF;
}

.account__nav-link:hover svg path {
    stroke: #13E4FF;

    transition: all .2s linear;
}

.account__nav-link.active span {
    color: #F65AFF;

    transition: all .2s linear;
}

.account__nav-link.active svg path {
    fill: #13E4FF;

    transition: all .2s linear;
}

.account__social-list {
    display: flex;
    justify-content: center;
    gap: 55px;
}

/*toggle*/




  .slider-btn {
    position: relative;

    &:before,
    &:after {
      bottom: 0;
      content: '';
      display: inline-block;
      margin: auto;
    }

    /* ellipse */
    &:before {
     background-color: #ffffff;
     border-radius: 50px;
     top: 0;
     height: 37px;
     width: 79px;
    }

    /* circle */
    &:after {
      background-color:  #A7A7A7;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      height: 25px;
      left: 10px;
      transition: .4s;
      width: 25px;
    }
  }

  .toggle-checkbox {
    /* hide the "default" checkbox/appearance */
    display: none;



  }


  /* ellipse appearance after checkbox-click */
  .toggle-checkbox:checked ~ .slider-btn:before {
      background-color: #ffffff;
    }

    /* circle appearance after checkbox-click */
    .toggle-checkbox:checked ~ .slider-btn:after {
      background-color: #13E4FF;
      transform: translateX(33px);
    }


/*setting*/


.setting__list {
    width: 100%;
    max-width: 565px;
    margin: 0 auto;
}

.setting__list-item {
    min-height: 50px;
    display: flex;
    justify-content: space-between;

    padding: 10px 0;

    border-bottom: 1px solid rgba(191, 191, 191, .26);
}

.setting__name {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
}

.setting__button {
    padding: 5px 29px;

    background: #503DFF;
    border-radius: 10px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);

}


/*help*/

.help-account {
    width: 100%;
    max-width: 796px;
    margin: 0 auto;
}

.help-account__sub-title, .help-account__text-link {


    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-align: center;
}

.help-account__sub-title {
    margin-bottom: 20px;
}

.help-account__text-link {
    margin-bottom: 129px;
}

.help-account__link {

    color: #F65AFF;
    cursor: pointer;
    text-decoration: underline;
}


/*faq-account*/

.faq-account {
    width: 100%;
    max-width: 629px;
    margin: 0 auto;
}

.faq-account__list {
    min-height: 350px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 100px;

    overflow-y: scroll;

}

.faq-account__list::-webkit-scrollbar {
    background-color: transparent; /* Фон скролбару */
    width: 5px;
    height: 80%;
}

.faq-account__list::-webkit-scrollbar-thumb:vertical {
    height: 5px; /* Висота повзунка */
    height: 80%;
}

/* Задаємо колір повзунка */
.faq-account__list::-webkit-scrollbar-thumb {
    background-color: #13e4ff; /* Колір повзунка */
    border-radius: 5px; /* Закруглені кути повзунка */
    width: 5px;
    height: 80%;
}

/* Задаємо ширину повзунка */
.faq-account__list::-webkit-scrollbar-thumb:horizontal {
    width: 5px; /* Ширина повзунка */
    height: 80%;
}

.faq-account__list-item {
    min-height: 96px;

    position: relative;

}

.faq-account__item {
    height: 96px;
    display: flex;
    justify-content: space-between;

    padding: 20px 40px;

    background-color: #1C1C1C;
    border: 1px solid #503DFF;
    border-radius: 20px;

    overflow: hidden;

    position: absolute;
    z-index: 2;

    /* transition: all .2s linear; */
}

.faq-account__item.is-open {
    min-height: 300px;
    height: auto;

    /* transition: all .2s linear; */

    z-index: 3;
}




.faq-account__item.is-open .faq-account__btn {
    transform: rotate(45deg);

    transition: all .2s linear;
}

.faq-account__item .faq-account__btn svg {
    width: 28px!important;
    height: 28px!important;
    display: block;
}

.faq-account__item .faq-account__btn svg rect {
    transition: all .2s linear;

}

.faq-account__item.is-open .faq-account__btn svg rect {
    transition: all .2s linear;

    fill: #F65AFF;
}

.faq-account__item-content {
    max-width: 475px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);

}

.faq-account__item-content-title {
    margin-bottom: 22px;
}

.faq-account__btn {
    width: 100%;
    height: 28px;
    display: block;

    margin-top: 13px;

    transition: all .2s linear;
}

.faq-account__btn svg {
    width: 100%;
}


/*membership*/


.membership {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    margin-top: -40px;
}

.membership__head {
    margin: 0 auto;
    margin-bottom: 46px;
}



.membership__title {
    margin-bottom: 7px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-decoration: underline;
    text-align: center;
}

.membership__head p {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);

    text-align: center;
}

.membership__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
}

.membership__list .content__prices-item {
    min-height: 381px;
}

.membership__list .content__prices-item  .price-item {
    height: 100%;
}

/*referrals*/

.referrals__block {
    width: 100%;
    max-width: 692px;
    padding: 30px 25px 45px 25px;
    margin: 0 auto;


    background: #272727;
    border: 1px solid #503DFF;
    border-radius: 20px;

    text-align: center;
}

.referrals__title {
    margin-bottom: 20px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

.referrals__text {
    width: 100%;
    max-width: 452px;
    margin: 0 auto;
    margin-bottom: 44px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);

    text-align: center;
}

.referrals__info {
    display: flex;
    gap: 65px;
}

.referrals__info {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 49px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-wrap: nowrap;

}

.referrals__info-list li {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    text-align: start;
}

.referrals__info-count {
    color: #F65AFF;
}

.referrals__share-btn {
    width: 100%;
    max-width: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    padding: 5px 20px;

    background-color: #503DFF;
    border-radius: 10px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

/*offers*/

.offers {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: 0 auto;
}

/*offer*/

.offer {
    padding: 15px 0 0 20px;

    border: 1px solid #503DFF;
    border-radius: 22px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

.offers__list {
    max-height: 537px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-right: 10px;

    overflow-y: scroll;
}



.offers__list::-webkit-scrollbar {
    background-color: transparent; /* Фон скролбару */
    width: 5px;
    height: 80%;
}

.offers__list::-webkit-scrollbar-thumb:vertical {
    height: 5px; /* Висота повзунка */
    height: 80%;
}

/* Задаємо колір повзунка */
.offers__list::-webkit-scrollbar-thumb {
    background-color: #13e4ff; /* Колір повзунка */
    border-radius: 5px; /* Закруглені кути повзунка */
    width: 5px;
    height: 80%;
}

/* Задаємо ширину повзунка */
.offers__list::-webkit-scrollbar-thumb:horizontal {
    width: 5px; /* Ширина повзунка */
    height: 80%;
}

.offer__head {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    font-weight: 700;
}

.offer__period {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 27px;
}

.offer__btn-list {
    display: flex;
    gap: 35px;

}

.offer__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__btn {
    width: 100px;
    max-width: 110px;
    display: block;
    padding: 5px;

    background-color: #503DFF;
    border-radius: 10px;

    text-align: center;
}

.offer__btn--red {
    background: #E95656;
}

.offer__price {
    padding: 8px 21px;

    border-radius: 22px 0px 22px 0px;
    border-left: 1px solid #503DFF;
    border-top: 1px solid #503DFF;
    box-shadow: -5px -5px 6px #343434;
}

.offer__price span {
    display: block;

    text-align: center;
}

.offer__price-total {
    margin-bottom: 4px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

.offer__price-per-hour {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(--white);
    cursor: pointer;
}

/*filters*/

.filters {
    width: 100%;
    max-width: 567px;
    margin: 0 auto;


}

.filters__head-list {
    display: flex;
    justify-content: space-between;

}

.filters__head-btn {
    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

.filters__head-btn:hover {
    text-decoration: underline;
}

.filters__animation {
    transform: rotate(35deg);
    margin: 0 auto;
}

.filters__body {
    padding: 0 10px;

    background: #272727;
    border: 1px solid #503DFF;
    border-radius: 22px;
}

.filters__body-head {
    margin-bottom: 10px;

    text-align: center;

    border-bottom: 1px solid #FFFFFF1A;
}

.filters__btn {
    margin: 15px auto;
    padding: 5px 20px;

    background: #503DFF;
    border-radius: 10px;


    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

.filters__option {
    width: fit-content;
    height: 46px;
    padding: 11px 15px;
    padding-bottom: 0;

    border: 1px solid #503DFF;
    border-radius: 23px;
}

.filters__option:hover {
    min-height: 166px;
}

.filters__option-btn {
    min-width: 179px;
    padding-right: 57px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-align: start;
    cursor: pointer;

    position: relative;
    z-index: 1;
}

.filters__option-btn::after {
    content: "";
    width: 14px;
    height: 10px;
    display: inline-block;

    background-image: url('../image/filter/btn-arr.svg');
    background-size: cover;

    position: absolute;
    top: 30%;
    right: 0;
    z-index: 2;

    transition: all .1s linear;
}

.filters__option:hover .filters__option-btn::after {
    transform: rotate(90deg);

    transition: all .1s linear;
}

.filters__body-list {
    height: 100%;
    max-height: 325px;
    display: block;
    flex-direction: column;
    gap: 14px;

    overflow-y: scroll;
}

/* Задаємо колір фону */
.filters__body-list::-webkit-scrollbar {
    background-color: transparent; /* Фон скролбару */
    width: 5px;
    height: 80%;
}

.filters__body-list::-webkit-scrollbar-thumb:vertical {
    height: 5px; /* Висота повзунка */
    height: 80%;
}

/* Задаємо колір повзунка */
.filters__body-list::-webkit-scrollbar-thumb {
    background-color: #13e4ff; /* Колір повзунка */
    border-radius: 5px; /* Закруглені кути повзунка */
    width: 5px;
    height: 80%;
}

/* Задаємо ширину повзунка */
.filters__body-list::-webkit-scrollbar-thumb:horizontal {
    width: 5px; /* Ширина повзунка */
    height: 80%;
}

.filters__body-list-item {
    height: 46px;
    margin-bottom: 14px;

    background: #272727;

    position: relative;
    /* z-index: 1; */
}

.filters__option {
    min-width: auto;

    background: #272727;
    box-shadow: -5px -5px 6px #343434;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;

    transition: all .2s linear;
}

.filters__option-contant {
    width: 0;
    height: 0;
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
    margin: 0 auto;

    transition: all .2s linear;
}

.filters__option-contant.filters__option-contant--flex {
    display: flex;
}

.filters__option-contant.filters__option-contant--flex .filters__option-label {
    text-align: start;
}

.filters__option-group {
    margin: 0 auto;

    padding: 0;
    opacity: 0;
    appearance: none;
    visibility: hidden;

    transition: all .2s linear;
}

.filters__option-label {
    display: block;
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-align: center;
    cursor: pointer;
}

.filters__option:hover {
    min-width: 310px;
    height: auto;

    z-index: 4;

    transition: all .2s linear;
}

.filters__option.filters__option--flex {
    width: fit-content;
    min-width: 371px;
    height: 46px;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .2s linear;
}



.filters__option.filters__option--flex .toggle-checkbox-wrapper {
    margin-bottom: -4px;
}

.filters__option.filters__option--flex:hover {
    min-height: 46px;
    height: 46px;
    width: fit-content;
    min-width: 371px;

    transition: all .2s linear;
}

.filters__option:hover .filters__option-btn {
    width: 100%;
}

.filters__option:hover .filters__option-btn::after {
    transform: rotate(180deg);
}

.filters__option:hover .filters__option-contant {
    width: fit-content;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    transition: all .2s linear;

    overflow: visible;
}

.filters__option:hover .filters__option-contant .filters__option-group {
    transition: all .2s linear;

    padding: 20px;
    opacity: 1;
    appearance: normal;
    visibility: visible;
}

.filters__option-name {
    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    text-align: start;
}


.filters__option-input {
    width: 100%;
    max-width: 135px;

    padding: 7px 11px;

    border: 4px solid #393939;
    border-radius: 15px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
    color: var(--white);
    cursor: pointer;
}


/*block-history*/

.block-history {
    width: 100%;
    max-width: 511px;
    display: block;

    margin: 0 auto;
}

.block-history__head-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 80px;
}

.block-history__content-list {
    max-height: 450px;
    padding-right: 20px;
    margin-right: -20px;

    overflow-y: scroll;
}

/* Задаємо колір фону */
.block-history__content-list::-webkit-scrollbar {
    background-color: transparent; /* Фон скролбару */
    width: 5px;
    height: 80%;
}

.block-history__content-list::-webkit-scrollbar-thumb:vertical {
    height: 5px; /* Висота повзунка */
    height: 80%;
}

/* Задаємо колір повзунка */
.block-history__content-list::-webkit-scrollbar-thumb {
    background-color: #13e4ff; /* Колір повзунка */
    border-radius: 5px; /* Закруглені кути повзунка */
    width: 5px;
    height: 80%;
}

/* Задаємо ширину повзунка */
.block-history__content-list::-webkit-scrollbar-thumb:horizontal {
    width: 5px; /* Ширина повзунка */
    height: 80%;
}

.block-history__content-list li:not(:last-of-type) {
    margin-bottom: 28px;
}

.block-history__head-title {
    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.block-history__item-title {
    margin-bottom: 14px;

    font-family: var(--main);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: start;
}

.block-history__content-item {
    padding-left: 20px;
    padding-top: 15px;

    border: 1px solid #503DFF;
    border-radius: 22px;
}

.block-history__content-item {
    background: #272727;
}

.block-history__period {
    margin-bottom: 14px;
}

.block-history__item-body {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: start;
}

.block-history__reason {
    margin-left: 32px;
}

.block-history__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.block-history__item-time {
    margin-left: 32px;
}

.calendar {
    width: 100%;
    max-width: 668px;
    margin: 0 auto;
    display: flex;
    gap: 44px;

}

.calendar__offers-head {
    margin-bottom: 25px;

}

.calendar__offers {
    width: 100%;
}

.calendar__offers .offers__list {
    gap: 8px;
}

.calendar__offers-head-btn {
    width: 100%;
    max-width: 147px;

    background-color: #F65AFF;
    border-radius: 10px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.calendar__day-item {
    max-height: 68px;
    padding: 10px 25px;

    background: #272727;
    border: 1px solid #503DFF;
    border-radius: 15px;

    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.calendar__day-list li:not(:last-of-type) {
    margin-bottom: 16px;
}

/*earnings*/

.earnings {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.earnings__chart {
    width: 100%;
    max-width: 460px;
}

.earnings__chart-head {
    display: flex;
    justify-content: space-between;
}

.earnings__chart-period, .earnings__chart-label {
    font-family: var(--main);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--white);
    cursor: pointer;
    text-align: left;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.earnings__chart-body {
    position: relative;
    z-index: 1;
}

#charter_earnings, #charter_weekly {
    width: 460px!important;
    height: 320px!important;

    font-family: var(--main)!important;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: var(--white)!important;
    cursor: pointer;
    text-align: left;

    position: relative;
    z-index: 2;

    object-fit: fill;
}

.chart-body-bg {
    position: relative;
    z-index: 1;
}

.chart-body-bg::after {
    content: "";
    width: 100%;
    height: 90%;
    display: block;

    border-radius: 20px;
    background: rgb(50,42,123);
background: linear-gradient(180deg, rgba(50,42,123,1) 0%, rgba(5,5,8,1) 100%);
border: 1px solid #503DFF;

    position: absolute;
    top: 0;
    z-index: 1;
}

.earnings__chart-label {
    display: block;

    position: relative;
    z-index: 1;
}

.earnings__chart-head {
    margin-bottom: 20px;
}

.earnings__chart-label::after {
    content: "";
    width: 45px;
    height: 20px;
    display: block;

    background-color: #13E4FF;
    border-radius: 10px;

    position: absolute;
    top: 10%;
    left: -40%;
    z-index: 4;
}

.earnings__chart-label.earnings__chart-label--blue::after {
    background-color: #F65AFF;
}

.burger__btn.burger__btn--sidebar {
    display: none;
    position: absolute;
}

.btn.btn--exit.btn--exit--mobile {
    display: none;
    position: absolute;
}





@media (max-width: 1700px) {
    .main.main--account {
        padding: 25px 0 15px 0;

        /* overflow: hidden; */
    }
}

@media (max-width: 1320px) {
    .earnings {
        max-height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 150px;

        overflow-y: scroll;
    }

        /* Задаємо колір фону */
    .earnings::-webkit-scrollbar {
        background-color: transparent; /* Фон скролбару */
        width: 5px;
        height: 80%;
    }

    .earnings::-webkit-scrollbar-thumb:vertical {
        height: 5px; /* Висота повзунка */
        height: 80%;
    }

    /* Задаємо колір повзунка */
    .earnings::-webkit-scrollbar-thumb {
        background-color: #13e4ff; /* Колір повзунка */
        border-radius: 5px; /* Закруглені кути повзунка */
        width: 5px;
        height: 80%;
    }

    /* Задаємо ширину повзунка */
    .earnings::-webkit-scrollbar-thumb:horizontal {
        width: 5px; /* Ширина повзунка */
        height: 80%;
    }
}

@media (max-width: 991px) {
    .account__sidebar {
        max-width: 340px;
        height: 100%;
        padding: 41px 53px;

        opacity: 1;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 22px;

        box-shadow: inset 0 0 62px rgba(136, 61, 255, 1);

        position: fixed;
        right: 0;
        top: 0;
        z-index: 3;

        transition: all .2s linear;
        transform: translateX(105%);

    }

    .account__sidebar.is-showed {
        transition: all .2s linear;
        transform: translateX(0);
    }

    .account__sidebar-wrapper {
        border: none;
    }

    .account__sidebar-logo {
        display: none;
    }

    .account__content-head-title {
        display: none;
        position: absolute;
    }

    .btn.btn--exit {
        display: none;
        position: absolute;
    }

    .account__content-head {
        align-items: center;
        justify-content: space-between;
    }

    .account__sidebar-logo.account__sidebar-logo--mobile {
        display: block;
        position: static;
    }

    .burger__btn.burger__btn--sidebar {
        display: flex;
        position: relative;
    }

    .btn.btn--exit.btn--exit--mobile {
        display: block;
        margin-bottom: 50px;

        position: static;
    }
    /****************************/

    .main.main--account {
        max-width: 748px;
    }

    .block-history__head-list {
        margin-bottom: 37px;
    }

    .filters__animation {
        width: 120px!important;
        height: 120px!important;
        display: none;
        position: absolute;
    }

    .filters__head-list {
        margin-bottom: 15px;
    }

    .account__social-list {
        margin-bottom: 50px;
    }

    .calendar {
        flex-direction: column;
    }

    .calendar__day-list {
        display: flex;
        gap: 8px;

        overflow-x: auto;
    }

    .calendar__offers .offers__list {
        gap: 8px;
        padding-bottom: 250px;
    }

    .calendar__day-list {
        scrollbar-width: thin; /* Встановлюємо тонкість скроллбару */
        scrollbar-color: transparent transparent;
    }

    .calendar__day-list::-webkit-scrollbar {
        background-color: transparent; /* Фон скролбару */
        width: 5px;
        height: 80%;
    }

    .calendar__day-list::-webkit-scrollbar-thumb:vertical {
        height: 5px; /* Висота повзунка */
        height: 80%;
    }

    /* Задаємо колір повзунка */
    .calendar__day-list::-webkit-scrollbar-thumb {
        background-color: transparent; /* Колір повзунка */
        border-radius: 5px; /* Закруглені кути повзунка */
        width: 5px;
        height: 80%;
    }

    /* Задаємо ширину повзунка */
    .calendar__day-list::-webkit-scrollbar-thumb:horizontal {
        width: 5px; /* Ширина повзунка */
        height: 80%;
    }

    .calendar__offers-head {
        display: none;
        position: absolute;
    }

    .block-history__content-list, .offers__list {
        padding-bottom: 250px;
    }

    .referrals {
        margin-bottom: 100px;
    }

    .membership__list {
        margin: 0 -45px;
        padding: 20px 0;
        max-width: 900px;

        overflow-x: auto;
    }

        /* Задаємо колір фону */
        .membership__list::-webkit-scrollbar {
            background-color: transparent; /* Фон скролбару */
            width: 5px;
            height: 80%;
        }

        .membership__list::-webkit-scrollbar-thumb:vertical {
            height: 5px; /* Висота повзунка */
            height: 80%;
        }

        /* Задаємо колір повзунка */
        .membership__list::-webkit-scrollbar-thumb {
            background-color: #13e4ff; /* Колір повзунка */
            border-radius: 5px; /* Закруглені кути повзунка */
            width: 5px;
            height: 80%;
        }

        /* Задаємо ширину повзунка */
        .membership__list::-webkit-scrollbar-thumb:horizontal {
            width: 5px; /* Ширина повзунка */
            height: 80%;
        }

}

@media (max-width: 768px) {
    /*main*/
    .main.main--account {
        max-width: 548px;
        padding: 25px 0 92px 0;

        overflow: visible;
    }

    .account__sidebar {
        transform: translateX(135%);
    }

    .earnings {
        padding-right: 10px;
    }

    #charter_earnings, #charter_weekly {
        width: 420px!important;
        height: 300px!important;
    }


}

@media (max-width: 568px) {

    .container {
        margin: 0 15px;
    }
    .main.main--account {
        max-width: 448px;
        padding: 25px 5px 92px 0;

        border: 3px solid #503DFF;

        overflow: visible;
    }

    .block-history__item-footer {
        display: block;
    }

    .block-history__item-title {
        display: flex;
        align-items: start;
        gap: 13px;
    }

    .block-history__item-title span {
        display: block;
        max-width: 300px;
    }

    .block-history__reason {
        margin-left: 0;
    }

    .block-history__item-time {
        margin-left: 0;
    }

    .offer__price {
        max-width: 110px;
        margin-left: auto;

    }

    .offer__price span {
        margin-right: -10px;
    }

    .block-history__item-time {
        margin-bottom: 20px;
        text-align: start;
    }

    .filters__option {
        max-width: 320px;
    }

    .filters__option-btn {
        padding-right: 15px;
        text-wrap: nowrap;
    }

    .filters__option.filters__option--flex {
        min-width: 321px;
        height: 55px;
    }

    .filters__option.filters__option--flex:hover {
        min-width: 321px;
        height: 55px;
    }

    .filters__body-list-item {
        margin-bottom: 17px;
    }


    #charter_earnings, #charter_weekly {
        width: 380px!important;
        height: 300px!important;
    }

    .faq-account__item-content {
        max-width: 275px;
    }

}

@media (max-width: 450px) {
    .main.main--account {
        max-width: 348px;

    }

    .faq-account__item {
        width: 100%;
        padding: 10px 15px;
    }

    .faq-account__item-content {
        max-width: 225px;
    }

    .faq-account__btn {
        width: auto;

    }

    .login__body, .login__footer {
        max-width: 321px;
        margin: 0 auto;
    }

    .faq-account__item-content-title {
        max-height: 75px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        overflow: hidden;
    }

    .block-history__content-list {
        padding-right: 12px;
    }

    .block-history__content-list {
        max-width: 325px;
    }

    .block-history__item-title span, .block-history__period {
        max-width: 235px;
    }

    .block-history__period svg {
        margin-right: 4px;
    }

    .block-history__time {
        display: block;
        max-width: 225px;
        margin-left: 27px;
    }

    .offer__footer {
        display: block;
    }

    .calendar__offers .offer .offer__price {
        max-width: 150px;
    }

    .offer__btn-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .calendar__offers .offer__period {
        display: block;
    }

    .calendar__offers .offer__time {
        display: block;
        margin-left: 27px;
    }

    .offers__list {
        padding-bottom: 50px;
    }

    .calendar__offers .offers__list {
        padding-bottom: 50px;
    }

    .offer__price {
        max-width: 150px;
    }

    #charter_earnings, #charter_weekly {
        width: 290px!important;
        height: 260px!important;
    }

    .chart-body-bg::after {
        height: 80%;
    }

    .earnings__chart-period {
        display: none;
        position: absolute;
    }

    .earnings__chart-label {
        margin-left: 65px;
    }

    .setting__name {
        text-align: start;
    }

    .account__sidebar {
        max-width: 355px;

        border-radius: 28px;
    }

    .filters__option {
        padding: 9px 15px;

    }

    .filters__option-btn {

        padding-right: 15px;

        line-height: 2rem;
        text-wrap: wrap;
    }

    .filters__option:hover {
        min-width: 270px;
    }

    .filters__option.filters__option--flex {
        min-width: 276px;
    }
    .filters__option.filters__option--flex:hover {
        min-width: 276px;
    }

}
